<mat-card class="login-form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</mat-card>
